*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {    
    position: relative;
    margin: 0 auto;
    width: 880px;
    background-color: rgba(20,20,30,0.5);
}



/*/////////[ rows ]////////*/
.main_cont {

    
}

.window {
    #position: relative;
    #display: inline-block;
    margin: 0px auto;
    border: 5px solid rgba(255,255,255,0.5);
    width: 880px;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
    background-color: rgba(180, 180, 150,0.8);
}


.first_colume, .second_colume, .third_colume {
    width: 250px;
    height: 760px;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

.sq_box {
    background-color: rgba(0, 0, 0,0.5);
    width: 250px;
    height: 180px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid rgba(180, 180, 150,0.5);
}

.c1_r1 {
    background-image: url(http://static.rogerebert.com/uploads/review/primary_image/reviews/whiplash-2014/hero_Whiplash-2014-1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.c1_r1:hover {
    border: 1px solid white;
}

/*////// test ///////*/
.window:active {
        #transform: rotate3d(0,1,0,360deg);
        #-webkit-transform: rotate3d(1,0,0,360deg);
        #-moz-transform: rotate3d(0,1,0,360deg);
        height: 400px;
        transition: 0.5s;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
}

.sq_box p {
    font-size: 25px;
    color: rgba(255,255,255,1.0);
    text-align: center;
    font-family: Arial;
}


